@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "我的記帳本";
}
<style>
    .body-content {
        margin-top: 10px;
    }
</style>
<div class="well">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="category" class="col-sm-2 control-label">類別</label>
            <div class="col-sm-10">
                <select id="category" class="form-control">
                    <option value="" selected>請選擇</option>
                    <option>支出</option>
                    <option>收入</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="money" class="col-sm-2 control-label">金額</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="money" placeholder="金額">
            </div>
        </div>
        <div class="form-group">
            <label for="date" class="col-sm-2 control-label">日期</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="date" placeholder="日期">
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">備註</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="description"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-8 col-sm-4">
                <button type="submit" class="btn btn-default">送出</button>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-md-12">
        @Html.Action("ForAccountChildAction")
    </div>
</div>